* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*
Sezione header
*/

header {
    background-color: rgb(255, 92, 31);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

header .row {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    height: 50px;
    font-size: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header img {
    height: 20px;
}

.top-left li {
    margin-right: 10px;
}


/*
Sezione prodotti
*/

main .row {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product {
    width: calc((100% - 30px) / 3);
    margin-top: 30px;
    position: relative;
}

main img {
    width: 100%;
}

.hover-image {
    width: 100%;
    margin-bottom: 4px;
}

main .hover-image {
    display: none;
}

.brand-name {
    color: gray;
    font-size: 10px;
}

.sale {
    color: red;
    font-size: 13px;
}

.price {
    color: gray;
    text-decoration-line: line-through;
    font-size: 13px;
}

.total {
    text-decoration-line: none;
    color: red;
}

.favorite {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 8px 10px;
    display: none;
}

.on-image {
    position: absolute;
    bottom: 80px;
}

.sale-percent, .label {
    font-size: 9px;
    font-weight: 600;
    padding: 3px 8px;
}

.sale-percent {
    background-color: red;
    color: white;
}

.label {
    background-color: green;
    color: white;
}

/*
Funzionalità con hover
*/

.product:hover .favorite{
    display: block;
}

.favorite:hover {
    color: red;
}

.product:hover .image {
    display: none;
}

.product:hover .hover-image {
    display: block;
}

/*
Sezione footer
*/

footer {
    color: white;
    background-color: rgb(24, 24, 24);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
}

footer .row {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-left span {
    margin-right: 5px;
}

.shop-name {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
}

.bold {
    font-weight: 600;
}

.social {
    margin-top: 8px;
}

.icons {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: white;
    margin-right: 3px;
    border-radius: 2px;
}

.icons img{
    height: 100%;
    width: 100%;
}